body {
    color: whitesmoke;
    /* Setting Background Image */
    background-image: url("../images/art-art-materials-background-1191710.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 96px;
}

/* Type Attributes */

#title-row {
    justify-content: center;
    margin-top: -50px;
}

h1 {
    font-family: fantasy;
    font-weight: bold;
    font-size: 81px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
}

h2, h3 {
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px #3e0082;
}

p {
    margin-top: 25px;
    font-size: 15px;
    font-family: monospace;
}

img {
    height: 200px;
    width: 200px;
}

/* Rows */
#numberscore-row {
    padding-bottom: 65px;
    padding-top: 20px;
}
#winsloss-row {
    padding-bottom: 65px;
    padding-top: 50px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
}


#copyright-text {
    color: #e1f0ff!important;
    text-shadow: 2px 2px #e8030385;
    margin-left: 10px;
    margin-top: 20px;
}